*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
*.iml

target

out
*.log
/src/ru/job4j/loop/Forever.java
/src/ru/job4j/array/CheckSumIndexes.java
/test/ru/job4j/array/CheckSumIndexesTest.java
/src/ru/job4j/array/Cinema.java
/test/ru/job4j/array/CinemaTest.java
